@using Microsoft.AspNetCore.Identity
@using Tangehrine.DataLayer.DbContext
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <link type="image/x-icon" rel="shortcut icon" href="~/assets/images/favicon.png" />
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

    <title>@ViewData["Title"]</title>
    <link type="text/css" rel="stylesheet" href="~/assets/css/all.min.css" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link type="text/css" href="~/lib/datatable/css/datatables.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/gijgo.min.css" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/summernote-lite.min.css" />
    <link type="text/css" href="~/assets/css/toastr.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/styles.css" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/responsive.css" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/Loader.css" />
    <style>
        #chartdiv {
      width: 100%;
      height: 300px;
    }   
    </style>
</head>
<body>
   <div class="loader">
        <div class="loader-wrapper">
            <img src="~/assets/images/loader.gif" alt="Loader" />
        </div>
    </div>
    <partial name="_HeaderPartial" />
    <partial name="_SideBarPartial" />
    @if (HttpContextAccessor.HttpContext.Session.GetString("IsAllowForTodoList") == "True" ||User.IsInRole("Administrator"))
    {
        <partial name="_TodoPartial" />
    }
  
    @RenderBody()
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatable/js/datatables.min.js"></script>
    <script src="~/assets/js/gijgo.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/js/summernote-lite.min.js"></script>
    <script src="~/assets/js/toastr.js"></script>
    <script src="~/lib/sweetalert/SweetAlert.js"></script>

    @*Newly added*@
    <script src="~/assets/js/dropzone.min.js"></script>
    <script src="~/assets/js/jquery.repeater.min.js"></script>
    <script src="~/assets/js/amchart4/amchart4core.js"></script>
    <script src="~/assets/js/amchart4/amchart4.js"></script>
    <script src="~/assets/js/amchart4/amchart4animated.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
    <script src="~/assets/js/custom.js"></script>

    @*@await Component.InvokeAsync("Notyf")*@
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
