<!DOCTYPE html>
<html lang="en">
<head>
    
    <link type="image/x-icon" rel="shortcut icon" href="~/assets/images/favicon.png" />
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

    <link type="text/css" rel="stylesheet" href="~/assets/css/all.min.css" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/styles.css" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/responsive.css" />
</head>
<body>

    @RenderBody()

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
