/*********************  Default-CSS  *********************/

input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}

input[type="file"]::-moz-file-upload-button {
    cursor: pointer;
}

input[type="file"]::-ms-file-upload-button {
    cursor: pointer;
}

input[type="file"]::-o-file-upload-button {
    cursor: pointer;
}

input[type="file"],
a[href],
input[type="submit"],
input[type="button"],
input[type="image"],
label[for],
select,
button,
.pointer {
    cursor: pointer;
}

::-moz-focus-inner {
    border: 0px solid transparent;
}

::-webkit-focus-inner {
    border: 0px solid transparent;
}

*::-moz-selection {
    color: #fff;
    background: #000;
}

*::-webkit-selection {
    color: #fff;
    background: #000;
}

*::-webkit-input-placeholder {
    color: #333333;
    opacity: 1;
}

*:-moz-placeholder {
    color: #333333;
    opacity: 1;
}

*::-moz-placeholder {
    color: #333333;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #333333;
    opacity: 1;
}
html {
    font-size: 18px;
}
html body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    line-height: 1.5;
    font-size: 1rem;
}

a,
div a:hover,
div a:active,
div a:focus,
button {
    text-decoration: none;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

a,
span,
div a:hover,
div a:active,
button {
    text-decoration: none;
}

*::after,
*::before,
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.no-list li,
.no-list ul,
.no-list ol,
footer li,
footer ul,
footer ol,
header li,
header ul,
header ol {
    list-style: inside none none;
}

.no-list ul,
.no-list ol,
footer ul,
footer ol,
header ul,
header ol {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    color: #555;
}

a:hover {
    color: #000;
}

body .clearfix,
body .clear {
    clear: both;
    line-height: 100%;
}

body .clearfix {
    height: auto;
}

* {
    outline: none !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul:after,
li:after,
.clr:after,
.clearfix:after,
.container:after,
.grve-container:after {
    clear: both;
    display: block;
    content: "";
}

div input,
div select,
div textarea,
div button {
    font-family: "Poppins", sans-serif;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    color: #333;
    font-weight: 600;
    margin: 0 0 15px;
}

body h1:last-child,
body h2:last-child,
body h3:last-child,
body h4:last-child,
body h5:last-child,
body h6:last-child {
    margin-bottom: 0;
}

.h2,
h2 {
    font-size: 1.7rem;
}

div select {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

img,
svg {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

body p {
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 140%;
    margin: 0 0 15px;
    padding: 0;
}

body p:empty {
    margin: 0;
    line-height: 0;
}

body p:last-child {
    margin-bottom: 0;
}

p strong {
    font-weight: 600;
}

strong {
    font-weight: 600;
}

.a-left {
    text-align: left;
}

.a-right {
    text-align: right;
}

.a-center {
    text-align: center;
}

label em {
    color: #ff0000;
    display: inline-block;
    font-style: normal;
    vertical-align: top;
    margin-left: 5px;
}

.hidden {
    display: none !important;
}

body .container .container {
    width: 100%;
    max-width: 100%;
}

/*********************  scroll Hide  *********************/
html.show-menu {
    overflow: hidden;
}

html.show-menu body {
    overflow: hidden;
    height: 100%;
}

#navbarNav .menu-close,
.navbar .toggler {
    display: none;
}
/*********************  Default-CSS close  *********************/

/*********************  Gapping  *********************/
.section-gapping {
    padding-bottom: 60px;
    padding-top: 60px;
}
/*********************  Gapping close  *********************/

/*********************  Default-CSS  *********************/

/*********************  Common-Css  *******************/
.clr:after,
ul:after,
.clearfix:after,
li:after {
    clear: both;
    display: block;
    content: "";
}

.btn.focus,
.btn:focus {
    box-shadow: none !important;
}

body .form-control:focus {
    box-shadow: none !important;
}

body .form-control,
body .form-select {
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    min-height: 60px;
    padding: 0 20px;
    font-size: 1rem;
    line-height: normal;
    color: #333;
    line-height: 56px;
}

    body .form-control:focus,
    body .form-select:focus {
        border-color: rgba(244, 125, 46, 1);
        box-shadow: none;
    }
    body .form-control::-webkit-input-placeholder {
        color: #7a7a7a;
    }

    body .form-control:-moz-placeholder {
        color: #7a7a7a;
    }

    body .form-control::-moz-placeholder {
        color: #7a7a7a;
    }

    body .form-control:-ms-input-placeholder {
        color: #7a7a7a;
    }

.form-check-input:checked {
    background-color: #f47d2e;
    border-color: #f47d2e;
}
.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(244, 125, 46, 0.25);
}

.btn {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0.85rem 1.9rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.5;
    transition: all 0.5s;
}

.btn-primary {
    background: #f47d2e;
    border-color: transparent;
    color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
    background: #f49352;
    border-color: transparent;
    color: #fff;
}

.btn-secondary {
    background: #fff;
    color: #f47d2e;
    border-color: #f47d2e;
}

.btn-50 {
    padding: 0.57rem 1.5rem;
}

.btn-light {
    background: #ecedf0;
    color: #7a7a7a;
    border-color: transparent;
}
.btn-light:hover,
.btn-light:focus,
.btn-check:active + .btn-light,
.btn-check:checked + .btn-light,
.btn-light.active,
.btn-light:active,
.show > .btn-light.dropdown-toggle {
    background: #f47d2e;
    color: #fff;
    border-color: transparent;
}

.bordered-img {
    border: 10px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.15);
    position: relative;
    overflow: hidden;
}
.bordered-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.action-btns {
    display: flex;
    align-items: center;
}

.action-btn {
    background: transparent;
    border: none;
    padding: 0;
    transition: all 0.5s;
}
.action-btn:hover {
    opacity: 0.5;
}
.action-btn.share {
    color: #699dee;
}
.action-btn.edit {
    color: #f47d2e;
}
.action-btn.delete {
    color: #f22e2e;
}
.action-btn.download {
    color: #3c6d1f;
}

.action-btns .action-btn {
    margin-left: 20px;
}
.action-btns .action-btn:first-child {
    margin-left: 0;
}

.text-orange {
    color: #f47d2e;
}

.non-padding-table > tbody > tr > td,
.non-padding-table > thead > tr > th,
.non-padding-table > tbody > tr > th {
    padding: 0;
}
/*********************  Common-Css Close  *******************/

/*********************  Header  *******************/
header {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 18px 0;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
}
header .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    max-width: 214px;
}
.avatar-wrap {
    display: flex;
    align-items: center;
}
.avatar {
    position: relative;
    display: inline-block;
    width: 3.3rem;
    height: 3.3rem;
    margin-right: 10px;
}
.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar-user .dropdown-menu {
    border: none;
    border-top: 6px solid #f47d2e;
    box-shadow: 0px 10px 40px rgba(51, 51, 51, 0.2);
    border-radius: 10px;
    padding: 0;
}
.navbar-user .dropdown-item {
    color: #353535;
    padding: 16px 20px;
    border-bottom: 1px solid #f3f4f8;
}
.navbar-user .dropdown-item:hover,
.navbar-user .dropdown-item:focus,
.navbar-user .dropdown-item.active,
.navbar-user .dropdown-item:active {
    color: #f47d2e;
    background: #fffaf8;
}
.navbar-user .dropdown-item i {
    margin-right: 10px;
}
/*********************  Header Close  *******************/

/*********************  Admin Sidebar  *******************/
.admin-sidebar {
    position: fixed;
    left: 0;
    top: 97px;
    bottom: 0;
    width: 160px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.15);
    z-index: 997;
    transition: all 0.5s;
}

.admin-sidebar .nav .nav-link {
    padding: 1rem;
    text-align: center;
    fill: #7a7a7a;
    border-bottom: 1px solid rgba(210, 210, 210, 0.2);
    transition: all 0.5s;
}

.admin-sidebar .nav .nav-link:hover,
.admin-sidebar .nav .nav-link.active {
    fill: #f47d2e;
}
.admin-sidebar .nav-link svg {
    width: 30px;
}

/*********************  Admin Sidebar Close  *******************/

/*********************  Content  *******************/
main {
    margin-top: 97px;
    padding: 25px;
    transition: all 0.5s;
}
.has-sidebar main {
    margin-left: 160px;
}
.sidebar-toggle {
    display: none;
}
.table {
    color: #333;
}
.table th {
    font-weight: 600;
}

.main-title-wrap {
    display: flex;
    align-items: center;
}
.main-title-wrap .main-title {
    margin: 0;
}
.main-title {
    font-size: 1.65rem;
    display: flex;
    align-items: center;
}
.main-title .title-badge {
    margin-left: 10px;
}
.title-badge {
    font-size: 0.9rem;
    padding: 6px 17px;
    line-height: 1.5;
    font-weight: 500;
    border-radius: 10px;
}
.badge.bg-light {
    background-color: #ecedf0 !important;
    color: #7a7a7a;
}

.required:after {
    content: " *";
    color: red;
}

.search-patient-group {
    margin-left: 1.7rem;
    margin-right: 1.7rem;
    flex: 1;
}
.search-patient-group .btn-light {
    border-color: #d2d2d2;
}
.search-patient-group .form-control {
    min-height: 50px;
    line-height: 46px;
}
.search-patient-group .close-btn {
    position: absolute;
    right: 69px;
    border: none;
    top: 1px;
    bottom: 1px;
    padding: 0 20px;
    z-index: 5;
}
    .patient-block {
        background: #fff;
        height: 100%;
        box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.1);
        border-radius: 20px;
        padding: 20px 30px;
        color: #7a7a7a;
        font-size: 0.9rem;
    }
.media {
    display: flex;
    align-items: center;
}
.media .media-body {
    flex: 1;
    margin-left: 0.83rem;
}
.patient-block .bordered-img {
    width: 90px;
    height: 90px;
}
.patient-block .action-btns {
    justify-content: flex-end;
    margin-top: -8px;
}
.patient-block h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}
.details-inner {
    position: relative;
    font-size: inherit;
    padding-left: 30px;
    display: block;
    color: #7a7a7a;
    margin: 0;
}
.patient-details .details-inner {
    margin-bottom: 0.83rem;
}
.patient-details .details-inner:last-child {
    margin-bottom: 0;
}
.details-inner i {
    position: absolute;
    left: 0;
    line-height: inherit;
    color: #f47d2e;
}
a.details-inner:hover {
    color: #3c6d1f;
}

.patient-block .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.patient-block .btn-light {
    fill: #7a7a7a;
}
.patient-block .btn-light:hover {
    fill: #fff;
}
.patient-block .btn svg {
    width: 30px;
    margin: 0 0 0 12px;
}

.pagination li {
    margin-right: 5px;
}
.pagination li:last-child {
    margin-right: 0;
}
.pagination .prev-next-link {
    display: flex;
    position: relative;
}
.pagination .prev-next-link::before {
    position: absolute;
    content: "";
    background: rgba(153, 163, 173, 0.25);
    top: 5px;
    bottom: 5px;
    width: 2px;
    left: 50%;
    z-index: 3;
}
.pagination .prev-next-link .disabled {
    pointer-events: none;
}

.pagination .prev-next-link .page-link {
    background: #ecedf0;
    color: #f47d2e;
    border: none;
}
.pagination .prev-next-link .page-link:first-child {
    border-radius: 10px 0 0 10px;
}
.pagination .prev-next-link .page-link:last-child {
    border-radius: 0 10px 10px 0;
}
.page-link:focus {
    box-shadow: 0 0 0 0.25rem rgba(244, 125, 46, 0.25);
    color: #7a7a7a;
}
.page-link {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    border-radius: 10px;
    padding: 0;
    transition: all 0.5s;
    border: none;
    color: #7a7a7a;
}
.page-link:hover {
    color: #f47d2e;
}
.page-link.active {
    background: #f47d2e;
    color: #fff;
}

.modal-content.add-body {
    border-radius: 20px;
    border: none;
}
.add-body .modal-body {
    padding: 80px 150px;
}
.add-body h3 {
    text-align: center;
    font-size: 1.65rem;
    margin-bottom: 2.5rem;
}
.add-body .btn {
    margin: 0 12px;
}
.custom-patientphoto {
    position: relative;
}
.custom-patientphoto input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.patientphoto-block {
    border-radius: 10px;
    overflow: hidden;
    display: block;
}
.patientphoto-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*********************  Content Close  *******************/

/*********************  Pre Visit Notes  *******************/
.card.cstm-card {
    border: none;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.1);
    padding: 30px;
}
.cstm-card .card-body {
    padding: 0;
}

.admin-tabs {
    padding-bottom: 2.8rem;
    position: relative;
}
.admin-tabs .nav-link {
    color: #7a7a7a;
    background: transparent;
    padding: 0 0 11px;
    border: none;
    display: inline-flex;
    align-items: center;
    margin-right: 4.5rem;
    font-size: 1.23rem;
    font-weight: 500;
    white-space: nowrap;
    border-bottom: 3px solid transparent;
}
.admin-tabs .nav-link:hover,
.admin-tabs .nav-link.active {
    color: #333;
}
.admin-tabs .nav-link.active {
    border-color: #f47d2e;
}
.admin-tabs .selector {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: #f47d2e;
    transition: all 0.5s;
}
.admin-tabs .nav-link:last-child {
    margin-right: 0;
}
.admin-tabs .nav-link i {
    margin-right: 10px;
}
.table-actions {
    width: 15%;
}

.note-toolbar {
    background: transparent;
}
.note-btn {
    border: none;
    color: #f47d2e;
    font-size: 0.9rem;
}
.note-btn.active,
.note-btn.focus,
.note-btn:active,
.note-btn:focus,
.note-btn:hover {
    color: #333;
    border: none;
    background-color: transparent;
    border-radius: 0;
}
.note-editor .note-toolbar > .note-btn-group {
    border-right: 1px solid #d1d7db;
}
.note-editor .dropdown-toggle::after {
    display: none;
}
/*********************  Pre Visit Notes Close  *******************/

/*********************  Pre Visit Manager  *******************/
body .table .table-collapse td:first-child {
    border-right-color: transparent;
}
body .table .table-collapse td:last-child {
    border-left-color: transparent;
}
.collapse-btn.collapsed .fas::before {
    content: "\f055";
}
.access-list p {
    font-size: 1rem;
}
/*********************  Pre Visit Manager Close  *******************/

/*********************  Schedule  *******************/
/*.calender-wrap {
    position: relative;
    height: 0;
    padding-top: 100%;
}*/
.cstm-calender-wrap.calender-wrap {
    padding: 20px;
    border: 1px solid #efefef;
    border-radius: 5px;
}
.cstm-calender-wrap .fc-widget-header {
    margin-right: 0px !important;
}
.cstm-calender-wrap .fc-day-grid-container {
    height: auto !important;
    overflow: hidden !important;
}
.cstm-calender-wrap table tr td,
.cstm-calender-wrap table tr th {
    padding:3px !important;
}

.calender-wrap iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/*.calender-wrap .fc-today-button{
    background-color: #f47d2e;
    color: #fff;
    opacity: 1;
}*/
.cstm-offcanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -470px;
    width: 470px;
    background: #fafafa;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
}
.show-offcanvas .cstm-offcanvas {
    right: 0;
}
.cstm-offcanvas .offcanvas-btn {
    position: absolute;
    top: 50%;
    fill: #fff;
    transform: translateY(-50%);
    border-radius: 20px 0 0 20px;
    padding: 27px 10px;
    right: 100%;
    width: 30px;
    cursor: pointer;
}
.cstm-offcanvas .offcanvas-btn svg {
    width: 10px;
    transform: rotate(180deg);
    transition: all 0.5s;
}
.show-offcanvas .cstm-offcanvas .offcanvas-btn svg {
    transform: rotate(0deg);
}

.canvas-header {
    background: #ecedf0;
    text-align: center;
    padding: 50px 15px;
    border-bottom: 1px solid #d2d2d2;
}
.canvas-body {
    padding: 30px;
}
/*********************  Schedule Close  *******************/

/*********************  Inner-Pages  *******************/
/*********************  Inner-Pages Close  *******************/

/*********************  Login  *******************/
.login-main {
    position: relative;
    z-index: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 130px;
}
.login-main:before {
    position: absolute;
    content: "";
    z-index: -1;
    background: #fee8da;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
}

.login-block {
    background: #fff;
    box-shadow: 0px 4px 15px 0px rgba(16, 16, 16, 0.25);
    border-radius: 50px;
    display: flex;
    position: relative;
    min-height: 80vh;
}
.login-block .left,
.login-block .right {
    flex: 0 0 50%;
}
.login-block .left {
    background-color: #fee8da;
    background-image: url("../images/login-top-left.png"), url("../images/login-top-right.png");
    background-repeat: no-repeat;
    background-position: left top, right top;
    background-size: 240px auto, 185px auto;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    border-radius: 50px 0 0 50px;
}

.login-block .logo {
    max-width: 430px;
    margin: 25% auto 45px;
}
.login-block .login-img {
    margin-right: -80px;
    margin-left: -130px;
    margin-top: auto;
}
.login-block .login-img img {
    width: 100%;
}
.login-block .right {
    padding: 25px 130px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.login-block h1 {
    font-size: 1.67rem;
    text-transform: capitalize;
    color: #f47d2e;
    position: relative;
    z-index: 0;
    line-height: 1.5;
    padding-bottom: 18px;
    margin-bottom: 58px;
    text-align: center;
}
.login-block h1:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    background: #f47d2e;
    height: 3px;
    width: 100px;
    z-index: -1;
}

.login-cmn-form .form-control {
    min-height: 50px;
    line-height: 46px;
}
.forgot-link {
    color: #f47d2e;
    font-weight: 500;
    text-decoration: underline;
    font-size: 0.78rem;
}
.forgot-link:hover {
    color: #3c6d1f;
    text-decoration: underline;
}
.login-cmn-form .form-check {
    font-size: 0.78rem;
    min-height: auto;
    margin: 0;
}

.login-block p {
    font-size: 0.78rem;
}

.back-link {
    color: #f47d2e;
    font-weight: 600;
    position: absolute;
    bottom: calc(100% + 4vh);
    transform: translatex(50%);
    left: 50%;
}
.back-link:hover {
    color: #3c6d1f;
}
/*********************  Login Close  *******************/

/*********************  Client Detail  *******************/
select.per-page {
    color: #f47d2e;
    background: transparent;
    border: none;
    position: relative;
    font-weight: 500;
}
.client-detail-card .bordered-img {
    width: 184px;
    height: 184px;
}
.client-detail-card .details-inner {
    line-height: 2.2;
}
.visit-block h3 {
    font-size: 1.34rem;
}
.visit-block .inner {
    color: #fff;
    border-radius: 10px;
    padding: 1.15rem 1.7rem;
}
.visit-block.tele-clinic .inner {
    background: #f47d2e;
}
.visit-block.next-visit .inner {
    background: #3c6d1f;
}

.table.cstm-table {
    vertical-align: middle;
}
.table.cstm-table tbody td {
    color: #7a7a7a;
}
.table.cstm-table td,
.table.cstm-table th {
    padding: 1rem 1.7rem;
}

.repeater [data-repeater-item]:not(:first-child) .text-orange {
    display: none;
}

.record-table thead th,
.record-table tbody td {
    height: 65px;
}

.chat-block {
    text-align: right;
}
.chat-box {
    display: inline-flex;
    align-items: flex-end;
    margin-bottom: 1.2rem;
}
.chat-box .inner {
    border: 1px solid #d2d2d2;
    border-radius: 20px 20px 0 20px;
    padding: 1.15rem;
    color: #7a7a7a;
    text-align: right;
}
.chat-box .inner p {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: left;
}
.chat-box .inner span {
    opacity: 0.5;
}
.chat-box:last-child {
    margin-bottom: 0;
}
.chat-box .icon {
    color: #f47d2e;
    font-size: 1.33rem;
    margin-left: 10px;
}
.chat-block input[type="text"] {
    border: 1px solid #d2d2d2;
    width: 100%;
    border-radius: 150px;
    padding: 0 40px;
    height: 100%;
}
.chat-block .chat-btns {
    width: 3.9rem;
    height: 3.9rem;
    border-radius: 50%;
}

.incrementer {
    display: inline-flex;
    vertical-align: top;
}
.incrementer [class*="qty-bttn"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #f47d2e;
    font-weight: 500;
    cursor: pointer;
    padding: 0 10px;
    font-size: 1.9rem;
    line-height: 1;
}
.incrementer .qty {
    max-width: 70px;
    text-align: center;
    border: none;
    background: transparent;
    padding: 0;
}

#chartdiv {
    width: 100%;
    height: 500px;
}

span + .action-btns {
    margin-left: ;
    margin-left: 20px;
}
/*********************  Client Detail Close  *******************/

/*********************  Date Time Picker  *******************/
body .gj-picker {
    font-family: inherit;
}
body .gj-datepicker-md [role="right-icon"],
body .gj-timepicker-md [role="right-icon"] {
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #9d9d9d;
}
body .gj-picker-md table tr td.today div {
    font-weight: 600;
    color: #f47d2e;
}
body .gj-picker-md table tr td.selected.gj-cursor-pointer div {
    color: #fff;
    background: #f47d2e;
    border-radius: 50%;
    font-weight: 700;
}

.my-dropzone.dropzone {
    border: 2px dashed rgba(244, 125, 46, 0.2);
    border-radius: 15px;
}
.my-dropzone.dropzone .dz-message {
    margin: 0;
}


.datepicker-panel > ul > li.picked, .datepicker-panel > ul > li.picked:hover, .datepicker-panel > ul > li:hover, .datepicker-panel > ul > li:hover {
    color: rgba(244, 125, 46, 1);
    background: rgba(244, 125, 46, 0.3);
}
.datepicker-top-left, .datepicker-top-right {
    border-top-color: rgba(244, 125, 46, 1);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


.page-item.active .page-link {
    color: #fff;
    background-color: #f47d2e;
    border-color: #f47d2e;
}
.next .page-link, .previous .page-link {
    width: auto;
    padding: 0 10px;
}
body .dataTables_wrapper .form-control, body .dataTables_wrapper .form-select {
    min-height: 50px;
    line-height: 46px;
}
/*********************  Date Time Picker Close  *******************/



/*PAV css start*/
.modal-dialog-scrollable .modal-body {
    margin-right: 6px;
}
.modal-dialog-scrollable .modal-body::-webkit-scrollbar {
    width: 4px;
}

.modal-dialog-scrollable .modal-body::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
}

/*PAV css end*/
