@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="has-sidebar">
    <main>
    <h4>@ViewData["Title"]</h4>
    <div class="row">
        <div class="col-md-6">
            <form id="change-password-form" method="post">              
                <div class="mb-3">
                    <label asp-for="Input.OldPassword" class="form-label required"></label>
                    <input asp-for="Input.OldPassword" class="form-control" placeholder="********" />
                    <span asp-validation-for="Input.OldPassword" class="text-danger" ></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.NewPassword" class="form-label required"></label>
                    <input asp-for="Input.NewPassword" class="form-control" placeholder="********" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.ConfirmPassword" class="form-label required"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="********" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Update password</button>
            </form>
        </div>
    </div>
    </main>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
