@model Tangehrine.ServiceLayer.Dtos.Admin.MasterDto;

<div class="tab-pane fade" id="nav-RelationshipMaster" role="tabpanel" aria-labelledby="nav-RelationshipMaster-tab">
    <div class="main-title-wrap mb-3 mb-md-4">
        <h1 class="main-title">Relationships</h1>
        <div class="ms-auto">
            <button title="Add Relationship" type="button" onclick="AddRelationships()" class="btn btn-primary btn-50" data-bs-toggle="modal" data-bs-target="#AddRelationshipModal">
                <i class="d-md-none fas fa-plus"></i><span class="d-none d-md-block">Add Relative</span>
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-light">
            <thead>
                <tr>
                    <th>Relationship with patient</th>
                    <th class="table-actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.relationshipDtos != null && Model.relationshipDtos.Count() > 0)
                {

                    @foreach (var item in Model.relationshipDtos)
                    {
                        <tr>
                            <td data-title="Relationship with patient">
                                @item.RelationshipName
                            </td>
                            <td>
                                <div class="action-btns">
                                    <button class="action-btn edit" onclick="relationshipEdit(@item.Id)"><i class="far fa-edit"></i></button>
                                    <button class="action-btn delete"><i class="far fa-trash-alt" onclick="relationshipDelete(@item.Id)"></i></button>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            <h3 class="text-center text-danger">
                                No Records Found
                            </h3>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>